html {
    /* height: 100%; */
    /* background: radial-gradient(ellipse at bottom, #19083e 0%, #180348 100%); */
    overflow: hidden;
}

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 717px 1936px #fff, 1198px 1606px #fff, 306px 644px #fff,
        2px 1008px #fff, 829px 446px #fff, 1145px 1346px #fff, 828px 1073px #fff,
        1632px 1699px #fff, 908px 713px #fff, 144px 1752px #fff,
        886px 733px #fff, 186px 969px #fff, 1793px 709px #fff, 921px 1118px #fff,
        1422px 63px #fff, 164px 1580px #fff, 409px 409px #fff, 663px 1816px #fff,
        1516px 474px #fff, 1331px 1415px #fff, 380px 1008px #fff,
        1604px 955px #fff, 1135px 521px #fff, 41px 827px #fff, 1160px 91px #fff,
        1766px 803px #fff, 330px 437px #fff, 439px 771px #fff,
        1228px 1688px #fff, 95px 572px #fff, 1888px 1723px #fff,
        1871px 1330px #fff, 273px 1717px #fff, 599px 1862px #fff,
        1095px 1445px #fff, 566px 828px #fff, 695px 381px #fff,
        1077px 387px #fff, 1357px 1904px #fff, 852px 1218px #fff,
        1104px 281px #fff, 327px 509px #fff, 1928px 412px #fff, 355px 896px #fff,
        65px 1485px #fff, 1775px 992px #fff, 1356px 1170px #fff,
        1907px 1550px #fff, 1371px 1116px #fff, 1647px 1130px #fff,
        1760px 314px #fff, 574px 1056px #fff, 1398px 851px #fff,
        1169px 1615px #fff, 1552px 956px #fff, 541px 939px #fff,
        532px 1337px #fff, 180px 882px #fff, 1050px 1617px #fff,
        1099px 653px #fff, 1661px 937px #fff, 980px 763px #fff, 848px 882px #fff,
        325px 859px #fff, 241px 512px #fff, 1866px 952px #fff, 316px 1059px #fff,
        1786px 445px #fff, 1296px 927px #fff, 729px 1348px #fff,
        608px 634px #fff, 917px 706px #fff, 1883px 106px #fff, 317px 909px #fff,
        601px 1368px #fff, 770px 243px #fff, 533px 1833px #fff, 692px 275px #fff,
        493px 1105px #fff, 549px 136px #fff, 114px 1716px #fff,
        550px 1935px #fff, 1537px 142px #fff, 1821px 1124px #fff,
        1060px 1838px #fff, 100px 1763px #fff, 980px 21px #fff, 187px 989px #fff,
        378px 1922px #fff, 24px 339px #fff, 1635px 562px #fff, 1762px 695px #fff,
        1062px 415px #fff, 259px 1474px #fff, 1357px 1897px #fff,
        1410px 360px #fff, 1003px 155px #fff, 1599px 343px #fff,
        1316px 341px #fff, 428px 280px #fff, 1944px 1654px #fff,
        732px 301px #fff, 1511px 325px #fff, 1571px 1693px #fff,
        359px 905px #fff, 1351px 1882px #fff, 474px 1613px #fff,
        1990px 389px #fff, 21px 1085px #fff, 310px 477px #fff, 50px 1108px #fff,
        123px 1147px #fff, 1681px 393px #fff, 540px 1404px #fff,
        701px 1171px #fff, 374px 1420px #fff, 164px 1452px #fff,
        1016px 224px #fff, 1200px 841px #fff, 232px 1511px #fff,
        1788px 188px #fff, 600px 26px #fff, 731px 1802px #fff, 464px 789px #fff,
        412px 301px #fff, 1753px 1059px #fff, 971px 104px #fff,
        1361px 391px #fff, 936px 801px #fff, 1389px 235px #fff, 484px 53px #fff,
        1069px 638px #fff, 1521px 202px #fff, 1694px 1838px #fff,
        1005px 60px #fff, 1969px 949px #fff, 1763px 1472px #fff,
        1678px 868px #fff, 1402px 1851px #fff, 919px 803px #fff,
        1893px 1081px #fff, 1851px 1818px #fff, 363px 1690px #fff,
        1942px 1810px #fff, 1011px 1665px #fff, 752px 1304px #fff,
        654px 336px #fff, 580px 1553px #fff, 1129px 600px #fff, 570px 653px #fff,
        237px 185px #fff, 91px 778px #fff, 264px 33px #fff, 1839px 1288px #fff,
        408px 293px #fff, 1367px 1823px #fff, 542px 1335px #fff,
        735px 1356px #fff, 280px 211px #fff, 693px 1468px #fff,
        495px 1796px #fff, 1835px 1894px #fff, 40px 23px #fff, 1407px 429px #fff,
        1840px 1827px #fff, 1985px 1418px #fff, 766px 1891px #fff,
        855px 147px #fff, 1390px 73px #fff, 277px 1403px #fff, 50px 983px #fff,
        785px 1215px #fff, 1479px 176px #fff, 1806px 722px #fff,
        1657px 1490px #fff, 300px 34px #fff, 630px 124px #fff, 456px 467px #fff,
        877px 1281px #fff, 975px 159px #fff, 1891px 1054px #fff,
        1876px 1134px #fff, 752px 1821px #fff, 1164px 1203px #fff,
        231px 871px #fff, 1119px 725px #fff, 592px 19px #fff, 1028px 1834px #fff,
        822px 288px #fff, 1862px 1843px #fff, 990px 936px #fff,
        1815px 607px #fff, 1786px 676px #fff, 1306px 1004px #fff,
        647px 1922px #fff, 53px 1036px #fff, 1079px 1914px #fff,
        1543px 1344px #fff, 1278px 945px #fff, 1908px 688px #fff,
        706px 208px #fff, 1981px 1247px #fff, 1039px 1519px #fff,
        1747px 1362px #fff, 1908px 1303px #fff, 46px 659px #fff,
        682px 1705px #fff, 608px 813px #fff, 86px 1276px #fff,
        1411px 1938px #fff, 315px 1222px #fff, 460px 1698px #fff,
        674px 992px #fff, 1404px 1618px #fff, 880px 1745px #fff,
        860px 178px #fff, 626px 1952px #fff, 894px 867px #fff,
        1894px 1243px #fff, 129px 685px #fff, 1186px 21px #fff,
        1704px 1753px #fff, 484px 1607px #fff, 405px 1141px #fff,
        884px 1903px #fff, 1567px 579px #fff, 936px 965px #fff, 560px 114px #fff,
        1041px 1765px #fff, 713px 708px #fff, 775px 1567px #fff,
        1926px 1295px #fff, 1359px 318px #fff, 920px 1521px #fff,
        371px 707px #fff, 1437px 338px #fff, 1341px 1316px #fff,
        821px 1580px #fff, 134px 1103px #fff, 983px 1482px #fff,
        878px 1798px #fff, 634px 972px #fff, 1423px 777px #fff,
        1162px 301px #fff, 113px 142px #fff, 350px 269px #fff, 137px 600px #fff,
        1549px 667px #fff, 1774px 631px #fff, 1649px 105px #fff,
        833px 1808px #fff, 1301px 1454px #fff, 40px 665px #fff, 387px 280px #fff,
        574px 1740px #fff, 284px 719px #fff, 241px 1820px #fff,
        118px 1167px #fff, 1595px 1210px #fff, 84px 704px #fff, 94px 419px #fff,
        1679px 1269px #fff, 601px 1017px #fff, 1518px 991px #fff,
        1959px 1435px #fff, 1221px 573px #fff, 589px 1523px #fff,
        888px 1609px #fff, 840px 614px #fff, 1802px 1069px #fff, 1px 1951px #fff,
        1825px 478px #fff, 239px 1504px #fff, 732px 111px #fff, 223px 398px #fff,
        392px 571px #fff, 1388px 51px #fff, 711px 910px #fff, 838px 453px #fff,
        1888px 1154px #fff, 1250px 1835px #fff, 101px 1167px #fff,
        1929px 1752px #fff, 494px 1174px #fff, 1962px 1684px #fff,
        600px 201px #fff, 1261px 1720px #fff, 221px 895px #fff, 625px 65px #fff,
        1034px 933px #fff, 801px 367px #fff, 5px 551px #fff, 358px 414px #fff,
        156px 1822px #fff, 1495px 843px #fff, 1175px 727px #fff,
        1295px 973px #fff, 10px 1661px #fff, 1954px 417px #fff, 83px 1219px #fff,
        797px 1265px #fff, 451px 1974px #fff, 1940px 614px #fff,
        1937px 749px #fff, 838px 237px #fff, 1079px 577px #fff, 254px 732px #fff,
        1569px 1812px #fff, 1644px 563px #fff, 832px 632px #fff,
        1881px 1146px #fff, 631px 1622px #fff, 209px 541px #fff,
        1895px 1449px #fff, 28px 1378px #fff, 1130px 862px #fff,
        1483px 1386px #fff, 1523px 480px #fff, 1683px 1633px #fff,
        608px 340px #fff, 544px 226px #fff, 1130px 200px #fff, 31px 1412px #fff,
        180px 804px #fff, 927px 1508px #fff, 1041px 17px #fff,
        1355px 1495px #fff, 983px 1234px #fff, 1737px 1445px #fff,
        1109px 201px #fff, 1984px 862px #fff, 262px 1348px #fff,
        1990px 1209px #fff, 1190px 1681px #fff, 776px 784px #fff,
        232px 317px #fff, 709px 1358px #fff, 842px 1758px #fff,
        1107px 388px #fff, 1976px 1067px #fff, 1085px 137px #fff,
        1560px 628px #fff, 149px 1541px #fff, 784px 337px #fff,
        1553px 141px #fff, 1945px 1671px #fff, 1926px 952px #fff,
        1456px 1454px #fff, 1532px 1015px #fff, 176px 1415px #fff,
        1545px 1650px #fff, 1633px 421px #fff, 486px 828px #fff,
        121px 655px #fff, 852px 1886px #fff, 184px 1165px #fff,
        1852px 288px #fff, 342px 812px #fff, 603px 1280px #fff, 800px 784px #fff,
        1760px 974px #fff, 1347px 25px #fff, 1066px 1953px #fff,
        1372px 1540px #fff, 946px 1254px #fff, 879px 1668px #fff,
        1283px 87px #fff, 95px 887px #fff, 1497px 737px #fff, 190px 934px #fff,
        1221px 142px #fff, 1209px 1533px #fff, 450px 1059px #fff,
        543px 1593px #fff, 335px 453px #fff, 905px 339px #fff,
        1541px 1241px #fff, 1327px 1055px #fff, 94px 934px #fff,
        1447px 63px #fff, 1577px 371px #fff, 1092px 1114px #fff,
        1358px 1597px #fff, 777px 23px #fff, 1239px 902px #fff,
        1242px 849px #fff, 1768px 1593px #fff, 681px 469px #fff,
        393px 1363px #fff, 356px 341px #fff, 943px 1912px #fff,
        1669px 531px #fff, 164px 1237px #fff, 1626px 332px #fff,
        891px 1777px #fff, 865px 1581px #fff, 293px 1158px #fff,
        1050px 1206px #fff, 1859px 275px #fff, 1062px 1485px #fff,
        524px 264px #fff, 1297px 200px #fff, 424px 1484px #fff, 74px 1909px #fff,
        1686px 923px #fff, 1398px 1532px #fff, 1006px 1804px #fff,
        574px 901px #fff, 1616px 779px #fff, 494px 1401px #fff,
        1002px 1474px #fff, 1144px 1506px #fff, 804px 1369px #fff,
        46px 402px #fff, 617px 517px #fff, 1457px 395px #fff, 1724px 1682px #fff,
        780px 714px #fff, 108px 62px #fff, 477px 793px #fff, 495px 61px #fff,
        205px 22px #fff, 1564px 461px #fff, 1818px 458px #fff, 242px 1716px #fff,
        1477px 1489px #fff, 89px 920px #fff, 49px 1792px #fff, 1610px 610px #fff,
        1737px 1649px #fff, 533px 1500px #fff, 1055px 1996px #fff,
        1079px 108px #fff, 1985px 271px #fff, 697px 380px #fff,
        1809px 110px #fff, 1740px 902px #fff, 884px 172px #fff, 588px 795px #fff,
        661px 1312px #fff, 1956px 1565px #fff, 1219px 942px #fff,
        1855px 1730px #fff, 66px 1221px #fff, 351px 1967px #fff,
        1120px 245px #fff, 604px 1010px #fff, 972px 995px #fff,
        1236px 1932px #fff, 1012px 1424px #fff, 1240px 1248px #fff,
        1489px 1965px #fff, 1117px 1203px #fff, 728px 1686px #fff,
        1509px 41px #fff, 1745px 1289px #fff, 494px 281px #fff,
        1798px 728px #fff, 1825px 572px #fff, 1844px 1305px #fff,
        410px 988px #fff, 528px 141px #fff, 756px 1501px #fff, 974px 1405px #fff,
        153px 1523px #fff, 668px 1518px #fff, 1721px 304px #fff, 88px 844px #fff,
        1630px 1526px #fff, 396px 1158px #fff, 1529px 1963px #fff,
        1145px 1712px #fff, 863px 1250px #fff, 867px 1159px #fff,
        1926px 1791px #fff, 1159px 1972px #fff, 1614px 217px #fff,
        376px 487px #fff, 1545px 1753px #fff, 1014px 1476px #fff,
        610px 397px #fff, 1790px 965px #fff, 462px 406px #fff, 821px 1087px #fff,
        1862px 1999px #fff, 1847px 888px #fff, 680px 1549px #fff,
        1615px 1689px #fff, 1505px 957px #fff, 901px 864px #fff,
        1187px 417px #fff, 1552px 466px #fff, 1316px 304px #fff,
        135px 1897px #fff, 49px 1837px #fff, 1399px 730px #fff, 977px 626px #fff,
        1251px 770px #fff, 1261px 1971px #fff, 89px 574px #fff, 869px 724px #fff,
        873px 21px #fff, 410px 920px #fff, 1840px 1728px #fff, 410px 1785px #fff,
        9px 1712px #fff, 728px 1628px #fff, 277px 1898px #fff, 588px 1112px #fff,
        1304px 1136px #fff, 1499px 1467px #fff, 819px 1298px #fff,
        965px 204px #fff, 1473px 1392px #fff, 1846px 1301px #fff,
        19px 911px #fff, 114px 1095px #fff, 439px 1788px #fff, 714px 578px #fff,
        1319px 1434px #fff, 703px 404px #fff, 706px 970px #fff,
        1404px 1772px #fff, 142px 1185px #fff, 392px 779px #fff,
        424px 1040px #fff, 1995px 1218px #fff, 1944px 249px #fff,
        1026px 1627px #fff, 1631px 1747px #fff, 859px 1761px #fff,
        1595px 1851px #fff, 1253px 1764px #fff, 921px 559px #fff,
        619px 92px #fff, 1588px 1520px #fff, 375px 265px #fff, 941px 1263px #fff,
        1980px 1417px #fff, 1306px 1897px #fff, 471px 404px #fff,
        382px 243px #fff, 715px 1762px #fff, 1664px 984px #fff,
        1968px 1621px #fff, 236px 321px #fff, 686px 1136px #fff,
        1052px 1961px #fff, 25px 594px #fff, 1275px 750px #fff,
        968px 1080px #fff, 1220px 391px #fff, 492px 68px #fff, 505px 1961px #fff,
        1894px 936px #fff, 166px 269px #fff, 356px 815px #fff,
        1775px 1014px #fff, 360px 1466px #fff, 1851px 174px #fff,
        1667px 741px #fff, 1694px 1363px #fff, 1523px 311px #fff,
        1318px 288px #fff, 851px 1092px #fff, 919px 419px #fff, 518px 825px #fff,
        476px 70px #fff, 1062px 1703px #fff, 1942px 1679px #fff,
        266px 881px #fff, 545px 390px #fff, 1984px 193px #fff, 748px 207px #fff,
        1833px 1809px #fff, 1061px 724px #fff, 967px 724px #fff,
        1747px 1254px #fff, 615px 1588px #fff, 1186px 15px #fff, 353px 75px #fff,
        638px 436px #fff, 1513px 693px #fff, 1916px 424px #fff,
        1649px 1675px #fff, 1640px 1239px #fff, 1522px 373px #fff,
        1472px 1838px #fff, 1276px 273px #fff, 1143px 77px #fff,
        390px 836px #fff, 1212px 332px #fff, 1048px 1953px #fff,
        1613px 1344px #fff, 1368px 1238px #fff, 1159px 369px #fff,
        982px 451px #fff, 391px 1810px #fff, 1234px 593px #fff,
        1789px 636px #fff, 1230px 1173px #fff, 1858px 356px #fff,
        325px 840px #fff, 270px 26px #fff, 6px 398px #fff, 104px 591px #fff,
        1854px 470px #fff, 1204px 234px #fff, 638px 1941px #fff,
        1053px 974px #fff, 489px 391px #fff, 1249px 787px #fff,
        308px 1903px #fff, 1637px 474px #fff, 1908px 435px #fff,
        1252px 667px #fff, 1327px 1231px #fff, 186px 567px #fff,
        801px 1468px #fff, 1125px 991px #fff, 1549px 1494px #fff,
        1128px 1173px #fff, 1745px 161px #fff, 1999px 795px #fff,
        886px 1376px #fff, 163px 1126px #fff, 1831px 1930px #fff,
        1065px 1800px #fff, 318px 497px #fff, 415px 564px #fff,
        964px 1304px #fff, 1613px 1406px #fff, 1551px 195px #fff,
        1125px 1390px #fff, 400px 539px #fff, 1666px 936px #fff,
        1071px 1073px #fff, 1217px 1995px #fff, 1354px 1043px #fff,
        1696px 1620px #fff, 1441px 338px #fff, 553px 1874px #fff,
        764px 386px #fff, 1144px 15px #fff, 1562px 16px #fff, 1872px 1381px #fff,
        425px 1947px #fff, 943px 1557px #fff, 1283px 1779px #fff,
        1660px 343px #fff, 1408px 1056px #fff, 1999px 732px #fff,
        995px 1177px #fff, 1654px 975px #fff, 1584px 729px #fff,
        975px 1867px #fff, 1060px 1895px #fff, 332px 1546px #fff,
        778px 621px #fff, 569px 541px #fff, 1975px 341px #fff, 1247px 164px #fff,
        1303px 1283px #fff, 1241px 212px #fff, 1855px 137px #fff,
        1071px 927px #fff, 1556px 1311px #fff, 115px 1338px #fff,
        659px 1608px #fff, 1902px 1975px #fff, 1062px 1800px #fff,
        935px 1198px #fff, 1964px 1955px #fff, 1826px 136px #fff,
        835px 1595px #fff, 1419px 1792px #fff, 265px 182px #fff,
        132px 486px #fff, 824px 716px #fff, 355px 126px #fff, 1106px 1579px #fff,
        387px 126px #fff, 1397px 1141px #fff, 1369px 1078px #fff,
        1138px 1893px #fff, 1035px 442px #fff, 812px 1910px #fff,
        1152px 1776px #fff, 846px 102px #fff, 1653px 1971px #fff,
        363px 697px #fff, 101px 272px #fff, 55px 345px #fff, 347px 193px #fff,
        1046px 196px #fff, 1434px 1900px #fff, 1983px 1216px #fff,
        728px 175px #fff, 455px 1295px #fff, 935px 1937px #fff;
    animation: animStar 50s linear infinite;
}
#stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 717px 1936px #fff, 1198px 1606px #fff, 306px 644px #fff,
        2px 1008px #fff, 829px 446px #fff, 1145px 1346px #fff, 828px 1073px #fff,
        1632px 1699px #fff, 908px 713px #fff, 144px 1752px #fff,
        886px 733px #fff, 186px 969px #fff, 1793px 709px #fff, 921px 1118px #fff,
        1422px 63px #fff, 164px 1580px #fff, 409px 409px #fff, 663px 1816px #fff,
        1516px 474px #fff, 1331px 1415px #fff, 380px 1008px #fff,
        1604px 955px #fff, 1135px 521px #fff, 41px 827px #fff, 1160px 91px #fff,
        1766px 803px #fff, 330px 437px #fff, 439px 771px #fff,
        1228px 1688px #fff, 95px 572px #fff, 1888px 1723px #fff,
        1871px 1330px #fff, 273px 1717px #fff, 599px 1862px #fff,
        1095px 1445px #fff, 566px 828px #fff, 695px 381px #fff,
        1077px 387px #fff, 1357px 1904px #fff, 852px 1218px #fff,
        1104px 281px #fff, 327px 509px #fff, 1928px 412px #fff, 355px 896px #fff,
        65px 1485px #fff, 1775px 992px #fff, 1356px 1170px #fff,
        1907px 1550px #fff, 1371px 1116px #fff, 1647px 1130px #fff,
        1760px 314px #fff, 574px 1056px #fff, 1398px 851px #fff,
        1169px 1615px #fff, 1552px 956px #fff, 541px 939px #fff,
        532px 1337px #fff, 180px 882px #fff, 1050px 1617px #fff,
        1099px 653px #fff, 1661px 937px #fff, 980px 763px #fff, 848px 882px #fff,
        325px 859px #fff, 241px 512px #fff, 1866px 952px #fff, 316px 1059px #fff,
        1786px 445px #fff, 1296px 927px #fff, 729px 1348px #fff,
        608px 634px #fff, 917px 706px #fff, 1883px 106px #fff, 317px 909px #fff,
        601px 1368px #fff, 770px 243px #fff, 533px 1833px #fff, 692px 275px #fff,
        493px 1105px #fff, 549px 136px #fff, 114px 1716px #fff,
        550px 1935px #fff, 1537px 142px #fff, 1821px 1124px #fff,
        1060px 1838px #fff, 100px 1763px #fff, 980px 21px #fff, 187px 989px #fff,
        378px 1922px #fff, 24px 339px #fff, 1635px 562px #fff, 1762px 695px #fff,
        1062px 415px #fff, 259px 1474px #fff, 1357px 1897px #fff,
        1410px 360px #fff, 1003px 155px #fff, 1599px 343px #fff,
        1316px 341px #fff, 428px 280px #fff, 1944px 1654px #fff,
        732px 301px #fff, 1511px 325px #fff, 1571px 1693px #fff,
        359px 905px #fff, 1351px 1882px #fff, 474px 1613px #fff,
        1990px 389px #fff, 21px 1085px #fff, 310px 477px #fff, 50px 1108px #fff,
        123px 1147px #fff, 1681px 393px #fff, 540px 1404px #fff,
        701px 1171px #fff, 374px 1420px #fff, 164px 1452px #fff,
        1016px 224px #fff, 1200px 841px #fff, 232px 1511px #fff,
        1788px 188px #fff, 600px 26px #fff, 731px 1802px #fff, 464px 789px #fff,
        412px 301px #fff, 1753px 1059px #fff, 971px 104px #fff,
        1361px 391px #fff, 936px 801px #fff, 1389px 235px #fff, 484px 53px #fff,
        1069px 638px #fff, 1521px 202px #fff, 1694px 1838px #fff,
        1005px 60px #fff, 1969px 949px #fff, 1763px 1472px #fff,
        1678px 868px #fff, 1402px 1851px #fff, 919px 803px #fff,
        1893px 1081px #fff, 1851px 1818px #fff, 363px 1690px #fff,
        1942px 1810px #fff, 1011px 1665px #fff, 752px 1304px #fff,
        654px 336px #fff, 580px 1553px #fff, 1129px 600px #fff, 570px 653px #fff,
        237px 185px #fff, 91px 778px #fff, 264px 33px #fff, 1839px 1288px #fff,
        408px 293px #fff, 1367px 1823px #fff, 542px 1335px #fff,
        735px 1356px #fff, 280px 211px #fff, 693px 1468px #fff,
        495px 1796px #fff, 1835px 1894px #fff, 40px 23px #fff, 1407px 429px #fff,
        1840px 1827px #fff, 1985px 1418px #fff, 766px 1891px #fff,
        855px 147px #fff, 1390px 73px #fff, 277px 1403px #fff, 50px 983px #fff,
        785px 1215px #fff, 1479px 176px #fff, 1806px 722px #fff,
        1657px 1490px #fff, 300px 34px #fff, 630px 124px #fff, 456px 467px #fff,
        877px 1281px #fff, 975px 159px #fff, 1891px 1054px #fff,
        1876px 1134px #fff, 752px 1821px #fff, 1164px 1203px #fff,
        231px 871px #fff, 1119px 725px #fff, 592px 19px #fff, 1028px 1834px #fff,
        822px 288px #fff, 1862px 1843px #fff, 990px 936px #fff,
        1815px 607px #fff, 1786px 676px #fff, 1306px 1004px #fff,
        647px 1922px #fff, 53px 1036px #fff, 1079px 1914px #fff,
        1543px 1344px #fff, 1278px 945px #fff, 1908px 688px #fff,
        706px 208px #fff, 1981px 1247px #fff, 1039px 1519px #fff,
        1747px 1362px #fff, 1908px 1303px #fff, 46px 659px #fff,
        682px 1705px #fff, 608px 813px #fff, 86px 1276px #fff,
        1411px 1938px #fff, 315px 1222px #fff, 460px 1698px #fff,
        674px 992px #fff, 1404px 1618px #fff, 880px 1745px #fff,
        860px 178px #fff, 626px 1952px #fff, 894px 867px #fff,
        1894px 1243px #fff, 129px 685px #fff, 1186px 21px #fff,
        1704px 1753px #fff, 484px 1607px #fff, 405px 1141px #fff,
        884px 1903px #fff, 1567px 579px #fff, 936px 965px #fff, 560px 114px #fff,
        1041px 1765px #fff, 713px 708px #fff, 775px 1567px #fff,
        1926px 1295px #fff, 1359px 318px #fff, 920px 1521px #fff,
        371px 707px #fff, 1437px 338px #fff, 1341px 1316px #fff,
        821px 1580px #fff, 134px 1103px #fff, 983px 1482px #fff,
        878px 1798px #fff, 634px 972px #fff, 1423px 777px #fff,
        1162px 301px #fff, 113px 142px #fff, 350px 269px #fff, 137px 600px #fff,
        1549px 667px #fff, 1774px 631px #fff, 1649px 105px #fff,
        833px 1808px #fff, 1301px 1454px #fff, 40px 665px #fff, 387px 280px #fff,
        574px 1740px #fff, 284px 719px #fff, 241px 1820px #fff,
        118px 1167px #fff, 1595px 1210px #fff, 84px 704px #fff, 94px 419px #fff,
        1679px 1269px #fff, 601px 1017px #fff, 1518px 991px #fff,
        1959px 1435px #fff, 1221px 573px #fff, 589px 1523px #fff,
        888px 1609px #fff, 840px 614px #fff, 1802px 1069px #fff, 1px 1951px #fff,
        1825px 478px #fff, 239px 1504px #fff, 732px 111px #fff, 223px 398px #fff,
        392px 571px #fff, 1388px 51px #fff, 711px 910px #fff, 838px 453px #fff,
        1888px 1154px #fff, 1250px 1835px #fff, 101px 1167px #fff,
        1929px 1752px #fff, 494px 1174px #fff, 1962px 1684px #fff,
        600px 201px #fff, 1261px 1720px #fff, 221px 895px #fff, 625px 65px #fff,
        1034px 933px #fff, 801px 367px #fff, 5px 551px #fff, 358px 414px #fff,
        156px 1822px #fff, 1495px 843px #fff, 1175px 727px #fff,
        1295px 973px #fff, 10px 1661px #fff, 1954px 417px #fff, 83px 1219px #fff,
        797px 1265px #fff, 451px 1974px #fff, 1940px 614px #fff,
        1937px 749px #fff, 838px 237px #fff, 1079px 577px #fff, 254px 732px #fff,
        1569px 1812px #fff, 1644px 563px #fff, 832px 632px #fff,
        1881px 1146px #fff, 631px 1622px #fff, 209px 541px #fff,
        1895px 1449px #fff, 28px 1378px #fff, 1130px 862px #fff,
        1483px 1386px #fff, 1523px 480px #fff, 1683px 1633px #fff,
        608px 340px #fff, 544px 226px #fff, 1130px 200px #fff, 31px 1412px #fff,
        180px 804px #fff, 927px 1508px #fff, 1041px 17px #fff,
        1355px 1495px #fff, 983px 1234px #fff, 1737px 1445px #fff,
        1109px 201px #fff, 1984px 862px #fff, 262px 1348px #fff,
        1990px 1209px #fff, 1190px 1681px #fff, 776px 784px #fff,
        232px 317px #fff, 709px 1358px #fff, 842px 1758px #fff,
        1107px 388px #fff, 1976px 1067px #fff, 1085px 137px #fff,
        1560px 628px #fff, 149px 1541px #fff, 784px 337px #fff,
        1553px 141px #fff, 1945px 1671px #fff, 1926px 952px #fff,
        1456px 1454px #fff, 1532px 1015px #fff, 176px 1415px #fff,
        1545px 1650px #fff, 1633px 421px #fff, 486px 828px #fff,
        121px 655px #fff, 852px 1886px #fff, 184px 1165px #fff,
        1852px 288px #fff, 342px 812px #fff, 603px 1280px #fff, 800px 784px #fff,
        1760px 974px #fff, 1347px 25px #fff, 1066px 1953px #fff,
        1372px 1540px #fff, 946px 1254px #fff, 879px 1668px #fff,
        1283px 87px #fff, 95px 887px #fff, 1497px 737px #fff, 190px 934px #fff,
        1221px 142px #fff, 1209px 1533px #fff, 450px 1059px #fff,
        543px 1593px #fff, 335px 453px #fff, 905px 339px #fff,
        1541px 1241px #fff, 1327px 1055px #fff, 94px 934px #fff,
        1447px 63px #fff, 1577px 371px #fff, 1092px 1114px #fff,
        1358px 1597px #fff, 777px 23px #fff, 1239px 902px #fff,
        1242px 849px #fff, 1768px 1593px #fff, 681px 469px #fff,
        393px 1363px #fff, 356px 341px #fff, 943px 1912px #fff,
        1669px 531px #fff, 164px 1237px #fff, 1626px 332px #fff,
        891px 1777px #fff, 865px 1581px #fff, 293px 1158px #fff,
        1050px 1206px #fff, 1859px 275px #fff, 1062px 1485px #fff,
        524px 264px #fff, 1297px 200px #fff, 424px 1484px #fff, 74px 1909px #fff,
        1686px 923px #fff, 1398px 1532px #fff, 1006px 1804px #fff,
        574px 901px #fff, 1616px 779px #fff, 494px 1401px #fff,
        1002px 1474px #fff, 1144px 1506px #fff, 804px 1369px #fff,
        46px 402px #fff, 617px 517px #fff, 1457px 395px #fff, 1724px 1682px #fff,
        780px 714px #fff, 108px 62px #fff, 477px 793px #fff, 495px 61px #fff,
        205px 22px #fff, 1564px 461px #fff, 1818px 458px #fff, 242px 1716px #fff,
        1477px 1489px #fff, 89px 920px #fff, 49px 1792px #fff, 1610px 610px #fff,
        1737px 1649px #fff, 533px 1500px #fff, 1055px 1996px #fff,
        1079px 108px #fff, 1985px 271px #fff, 697px 380px #fff,
        1809px 110px #fff, 1740px 902px #fff, 884px 172px #fff, 588px 795px #fff,
        661px 1312px #fff, 1956px 1565px #fff, 1219px 942px #fff,
        1855px 1730px #fff, 66px 1221px #fff, 351px 1967px #fff,
        1120px 245px #fff, 604px 1010px #fff, 972px 995px #fff,
        1236px 1932px #fff, 1012px 1424px #fff, 1240px 1248px #fff,
        1489px 1965px #fff, 1117px 1203px #fff, 728px 1686px #fff,
        1509px 41px #fff, 1745px 1289px #fff, 494px 281px #fff,
        1798px 728px #fff, 1825px 572px #fff, 1844px 1305px #fff,
        410px 988px #fff, 528px 141px #fff, 756px 1501px #fff, 974px 1405px #fff,
        153px 1523px #fff, 668px 1518px #fff, 1721px 304px #fff, 88px 844px #fff,
        1630px 1526px #fff, 396px 1158px #fff, 1529px 1963px #fff,
        1145px 1712px #fff, 863px 1250px #fff, 867px 1159px #fff,
        1926px 1791px #fff, 1159px 1972px #fff, 1614px 217px #fff,
        376px 487px #fff, 1545px 1753px #fff, 1014px 1476px #fff,
        610px 397px #fff, 1790px 965px #fff, 462px 406px #fff, 821px 1087px #fff,
        1862px 1999px #fff, 1847px 888px #fff, 680px 1549px #fff,
        1615px 1689px #fff, 1505px 957px #fff, 901px 864px #fff,
        1187px 417px #fff, 1552px 466px #fff, 1316px 304px #fff,
        135px 1897px #fff, 49px 1837px #fff, 1399px 730px #fff, 977px 626px #fff,
        1251px 770px #fff, 1261px 1971px #fff, 89px 574px #fff, 869px 724px #fff,
        873px 21px #fff, 410px 920px #fff, 1840px 1728px #fff, 410px 1785px #fff,
        9px 1712px #fff, 728px 1628px #fff, 277px 1898px #fff, 588px 1112px #fff,
        1304px 1136px #fff, 1499px 1467px #fff, 819px 1298px #fff,
        965px 204px #fff, 1473px 1392px #fff, 1846px 1301px #fff,
        19px 911px #fff, 114px 1095px #fff, 439px 1788px #fff, 714px 578px #fff,
        1319px 1434px #fff, 703px 404px #fff, 706px 970px #fff,
        1404px 1772px #fff, 142px 1185px #fff, 392px 779px #fff,
        424px 1040px #fff, 1995px 1218px #fff, 1944px 249px #fff,
        1026px 1627px #fff, 1631px 1747px #fff, 859px 1761px #fff,
        1595px 1851px #fff, 1253px 1764px #fff, 921px 559px #fff,
        619px 92px #fff, 1588px 1520px #fff, 375px 265px #fff, 941px 1263px #fff,
        1980px 1417px #fff, 1306px 1897px #fff, 471px 404px #fff,
        382px 243px #fff, 715px 1762px #fff, 1664px 984px #fff,
        1968px 1621px #fff, 236px 321px #fff, 686px 1136px #fff,
        1052px 1961px #fff, 25px 594px #fff, 1275px 750px #fff,
        968px 1080px #fff, 1220px 391px #fff, 492px 68px #fff, 505px 1961px #fff,
        1894px 936px #fff, 166px 269px #fff, 356px 815px #fff,
        1775px 1014px #fff, 360px 1466px #fff, 1851px 174px #fff,
        1667px 741px #fff, 1694px 1363px #fff, 1523px 311px #fff,
        1318px 288px #fff, 851px 1092px #fff, 919px 419px #fff, 518px 825px #fff,
        476px 70px #fff, 1062px 1703px #fff, 1942px 1679px #fff,
        266px 881px #fff, 545px 390px #fff, 1984px 193px #fff, 748px 207px #fff,
        1833px 1809px #fff, 1061px 724px #fff, 967px 724px #fff,
        1747px 1254px #fff, 615px 1588px #fff, 1186px 15px #fff, 353px 75px #fff,
        638px 436px #fff, 1513px 693px #fff, 1916px 424px #fff,
        1649px 1675px #fff, 1640px 1239px #fff, 1522px 373px #fff,
        1472px 1838px #fff, 1276px 273px #fff, 1143px 77px #fff,
        390px 836px #fff, 1212px 332px #fff, 1048px 1953px #fff,
        1613px 1344px #fff, 1368px 1238px #fff, 1159px 369px #fff,
        982px 451px #fff, 391px 1810px #fff, 1234px 593px #fff,
        1789px 636px #fff, 1230px 1173px #fff, 1858px 356px #fff,
        325px 840px #fff, 270px 26px #fff, 6px 398px #fff, 104px 591px #fff,
        1854px 470px #fff, 1204px 234px #fff, 638px 1941px #fff,
        1053px 974px #fff, 489px 391px #fff, 1249px 787px #fff,
        308px 1903px #fff, 1637px 474px #fff, 1908px 435px #fff,
        1252px 667px #fff, 1327px 1231px #fff, 186px 567px #fff,
        801px 1468px #fff, 1125px 991px #fff, 1549px 1494px #fff,
        1128px 1173px #fff, 1745px 161px #fff, 1999px 795px #fff,
        886px 1376px #fff, 163px 1126px #fff, 1831px 1930px #fff,
        1065px 1800px #fff, 318px 497px #fff, 415px 564px #fff,
        964px 1304px #fff, 1613px 1406px #fff, 1551px 195px #fff,
        1125px 1390px #fff, 400px 539px #fff, 1666px 936px #fff,
        1071px 1073px #fff, 1217px 1995px #fff, 1354px 1043px #fff,
        1696px 1620px #fff, 1441px 338px #fff, 553px 1874px #fff,
        764px 386px #fff, 1144px 15px #fff, 1562px 16px #fff, 1872px 1381px #fff,
        425px 1947px #fff, 943px 1557px #fff, 1283px 1779px #fff,
        1660px 343px #fff, 1408px 1056px #fff, 1999px 732px #fff,
        995px 1177px #fff, 1654px 975px #fff, 1584px 729px #fff,
        975px 1867px #fff, 1060px 1895px #fff, 332px 1546px #fff,
        778px 621px #fff, 569px 541px #fff, 1975px 341px #fff, 1247px 164px #fff,
        1303px 1283px #fff, 1241px 212px #fff, 1855px 137px #fff,
        1071px 927px #fff, 1556px 1311px #fff, 115px 1338px #fff,
        659px 1608px #fff, 1902px 1975px #fff, 1062px 1800px #fff,
        935px 1198px #fff, 1964px 1955px #fff, 1826px 136px #fff,
        835px 1595px #fff, 1419px 1792px #fff, 265px 182px #fff,
        132px 486px #fff, 824px 716px #fff, 355px 126px #fff, 1106px 1579px #fff,
        387px 126px #fff, 1397px 1141px #fff, 1369px 1078px #fff,
        1138px 1893px #fff, 1035px 442px #fff, 812px 1910px #fff,
        1152px 1776px #fff, 846px 102px #fff, 1653px 1971px #fff,
        363px 697px #fff, 101px 272px #fff, 55px 345px #fff, 347px 193px #fff,
        1046px 196px #fff, 1434px 1900px #fff, 1983px 1216px #fff,
        728px 175px #fff, 455px 1295px #fff, 935px 1937px #fff;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1009px 1216px #fff, 1868px 1807px #fff, 1371px 1455px #fff,
        1638px 1053px #fff, 176px 19px #fff, 276px 1529px #fff,
        1241px 1564px #fff, 465px 411px #fff, 1794px 852px #fff,
        946px 290px #fff, 959px 1504px #fff, 1258px 1540px #fff,
        79px 1337px #fff, 1713px 455px #fff, 1475px 1850px #fff,
        917px 864px #fff, 204px 1525px #fff, 562px 614px #fff, 456px 394px #fff,
        7px 845px #fff, 1145px 609px #fff, 1706px 692px #fff, 1431px 559px #fff,
        32px 260px #fff, 1704px 1380px #fff, 981px 676px #fff, 183px 1907px #fff,
        1034px 1579px #fff, 501px 1310px #fff, 27px 61px #fff,
        1228px 1813px #fff, 1673px 80px #fff, 1793px 1862px #fff,
        1940px 476px #fff, 1828px 56px #fff, 1064px 14px #fff, 664px 787px #fff,
        1644px 1819px #fff, 270px 239px #fff, 706px 1939px #fff,
        114px 711px #fff, 752px 1567px #fff, 243px 574px #fff, 546px 268px #fff,
        759px 781px #fff, 322px 1616px #fff, 313px 1194px #fff, 833px 264px #fff,
        1452px 801px #fff, 1336px 1854px #fff, 1597px 1845px #fff,
        1662px 1663px #fff, 1086px 206px #fff, 1239px 1376px #fff,
        1501px 946px #fff, 2px 1346px #fff, 528px 423px #fff, 1359px 1446px #fff,
        1146px 808px #fff, 299px 1863px #fff, 1209px 1154px #fff,
        521px 993px #fff, 939px 1039px #fff, 1754px 948px #fff, 76px 470px #fff,
        486px 1447px #fff, 489px 407px #fff, 55px 89px #fff, 1329px 1589px #fff,
        1024px 1116px #fff, 1618px 139px #fff, 1506px 248px #fff,
        328px 186px #fff, 896px 957px #fff, 1598px 393px #fff, 624px 1172px #fff,
        5px 1428px #fff, 385px 810px #fff, 470px 1876px #fff, 1787px 1155px #fff,
        503px 1514px #fff, 1589px 1794px #fff, 104px 302px #fff,
        1568px 711px #fff, 1313px 1948px #fff, 1644px 1580px #fff,
        678px 1933px #fff, 358px 274px #fff, 281px 1998px #fff,
        640px 1401px #fff, 797px 1206px #fff, 1269px 1134px #fff,
        1343px 956px #fff, 401px 190px #fff, 733px 360px #fff, 1029px 905px #fff,
        1973px 683px #fff, 1055px 901px #fff, 143px 955px #fff, 1969px 60px #fff,
        113px 1901px #fff, 355px 623px #fff, 1645px 1767px #fff,
        1458px 448px #fff, 1625px 1448px #fff, 181px 645px #fff,
        642px 1726px #fff, 217px 9px #fff, 990px 227px #fff, 1935px 1463px #fff,
        1090px 1116px #fff, 1133px 859px #fff, 1765px 714px #fff,
        1977px 1311px #fff, 569px 1999px #fff, 1450px 1355px #fff,
        10px 1848px #fff, 1516px 1123px #fff, 197px 1255px #fff,
        1902px 846px #fff, 508px 494px #fff, 289px 691px #fff, 29px 933px #fff,
        1791px 49px #fff, 1484px 531px #fff, 1369px 601px #fff,
        1959px 677px #fff, 1049px 266px #fff, 458px 1651px #fff,
        1241px 112px #fff, 1973px 355px #fff, 1762px 392px #fff,
        1126px 733px #fff, 551px 1763px #fff, 1172px 1409px #fff,
        532px 296px #fff, 1606px 1506px #fff, 329px 1181px #fff,
        721px 1227px #fff, 1610px 791px #fff, 1306px 855px #fff,
        102px 958px #fff, 247px 1524px #fff, 109px 1840px #fff,
        1623px 1656px #fff, 1985px 1428px #fff, 1766px 1970px #fff,
        816px 1635px #fff, 2px 1968px #fff, 971px 907px #fff, 1485px 465px #fff,
        1874px 1028px #fff, 1841px 471px #fff, 604px 565px #fff,
        313px 545px #fff, 986px 268px #fff, 1794px 82px #fff, 31px 625px #fff,
        1333px 1396px #fff, 1437px 1140px #fff, 280px 644px #fff,
        1083px 1703px #fff, 823px 878px #fff, 1526px 1936px #fff,
        451px 1682px #fff, 926px 927px #fff, 497px 523px #fff, 1396px 714px #fff,
        1430px 12px #fff, 1451px 210px #fff, 1980px 1422px #fff,
        808px 1116px #fff, 1178px 1291px #fff, 262px 646px #fff,
        1972px 263px #fff, 1827px 188px #fff, 1956px 613px #fff,
        434px 141px #fff, 1958px 944px #fff, 235px 815px #fff, 722px 1008px #fff,
        372px 613px #fff, 943px 1070px #fff, 1834px 69px #fff, 468px 945px #fff,
        996px 1859px #fff, 1365px 476px #fff, 1934px 1646px #fff,
        992px 1071px #fff, 841px 1718px #fff, 1262px 1338px #fff,
        1789px 1554px #fff, 1930px 1274px #fff, 438px 1086px #fff,
        1998px 97px #fff, 1877px 804px #fff, 265px 913px #fff, 1207px 845px #fff,
        1750px 1497px #fff, 142px 23px #fff;
    animation: animStar 100s linear infinite;
}
#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1009px 1216px #fff, 1868px 1807px #fff, 1371px 1455px #fff,
        1638px 1053px #fff, 176px 19px #fff, 276px 1529px #fff,
        1241px 1564px #fff, 465px 411px #fff, 1794px 852px #fff,
        946px 290px #fff, 959px 1504px #fff, 1258px 1540px #fff,
        79px 1337px #fff, 1713px 455px #fff, 1475px 1850px #fff,
        917px 864px #fff, 204px 1525px #fff, 562px 614px #fff, 456px 394px #fff,
        7px 845px #fff, 1145px 609px #fff, 1706px 692px #fff, 1431px 559px #fff,
        32px 260px #fff, 1704px 1380px #fff, 981px 676px #fff, 183px 1907px #fff,
        1034px 1579px #fff, 501px 1310px #fff, 27px 61px #fff,
        1228px 1813px #fff, 1673px 80px #fff, 1793px 1862px #fff,
        1940px 476px #fff, 1828px 56px #fff, 1064px 14px #fff, 664px 787px #fff,
        1644px 1819px #fff, 270px 239px #fff, 706px 1939px #fff,
        114px 711px #fff, 752px 1567px #fff, 243px 574px #fff, 546px 268px #fff,
        759px 781px #fff, 322px 1616px #fff, 313px 1194px #fff, 833px 264px #fff,
        1452px 801px #fff, 1336px 1854px #fff, 1597px 1845px #fff,
        1662px 1663px #fff, 1086px 206px #fff, 1239px 1376px #fff,
        1501px 946px #fff, 2px 1346px #fff, 528px 423px #fff, 1359px 1446px #fff,
        1146px 808px #fff, 299px 1863px #fff, 1209px 1154px #fff,
        521px 993px #fff, 939px 1039px #fff, 1754px 948px #fff, 76px 470px #fff,
        486px 1447px #fff, 489px 407px #fff, 55px 89px #fff, 1329px 1589px #fff,
        1024px 1116px #fff, 1618px 139px #fff, 1506px 248px #fff,
        328px 186px #fff, 896px 957px #fff, 1598px 393px #fff, 624px 1172px #fff,
        5px 1428px #fff, 385px 810px #fff, 470px 1876px #fff, 1787px 1155px #fff,
        503px 1514px #fff, 1589px 1794px #fff, 104px 302px #fff,
        1568px 711px #fff, 1313px 1948px #fff, 1644px 1580px #fff,
        678px 1933px #fff, 358px 274px #fff, 281px 1998px #fff,
        640px 1401px #fff, 797px 1206px #fff, 1269px 1134px #fff,
        1343px 956px #fff, 401px 190px #fff, 733px 360px #fff, 1029px 905px #fff,
        1973px 683px #fff, 1055px 901px #fff, 143px 955px #fff, 1969px 60px #fff,
        113px 1901px #fff, 355px 623px #fff, 1645px 1767px #fff,
        1458px 448px #fff, 1625px 1448px #fff, 181px 645px #fff,
        642px 1726px #fff, 217px 9px #fff, 990px 227px #fff, 1935px 1463px #fff,
        1090px 1116px #fff, 1133px 859px #fff, 1765px 714px #fff,
        1977px 1311px #fff, 569px 1999px #fff, 1450px 1355px #fff,
        10px 1848px #fff, 1516px 1123px #fff, 197px 1255px #fff,
        1902px 846px #fff, 508px 494px #fff, 289px 691px #fff, 29px 933px #fff,
        1791px 49px #fff, 1484px 531px #fff, 1369px 601px #fff,
        1959px 677px #fff, 1049px 266px #fff, 458px 1651px #fff,
        1241px 112px #fff, 1973px 355px #fff, 1762px 392px #fff,
        1126px 733px #fff, 551px 1763px #fff, 1172px 1409px #fff,
        532px 296px #fff, 1606px 1506px #fff, 329px 1181px #fff,
        721px 1227px #fff, 1610px 791px #fff, 1306px 855px #fff,
        102px 958px #fff, 247px 1524px #fff, 109px 1840px #fff,
        1623px 1656px #fff, 1985px 1428px #fff, 1766px 1970px #fff,
        816px 1635px #fff, 2px 1968px #fff, 971px 907px #fff, 1485px 465px #fff,
        1874px 1028px #fff, 1841px 471px #fff, 604px 565px #fff,
        313px 545px #fff, 986px 268px #fff, 1794px 82px #fff, 31px 625px #fff,
        1333px 1396px #fff, 1437px 1140px #fff, 280px 644px #fff,
        1083px 1703px #fff, 823px 878px #fff, 1526px 1936px #fff,
        451px 1682px #fff, 926px 927px #fff, 497px 523px #fff, 1396px 714px #fff,
        1430px 12px #fff, 1451px 210px #fff, 1980px 1422px #fff,
        808px 1116px #fff, 1178px 1291px #fff, 262px 646px #fff,
        1972px 263px #fff, 1827px 188px #fff, 1956px 613px #fff,
        434px 141px #fff, 1958px 944px #fff, 235px 815px #fff, 722px 1008px #fff,
        372px 613px #fff, 943px 1070px #fff, 1834px 69px #fff, 468px 945px #fff,
        996px 1859px #fff, 1365px 476px #fff, 1934px 1646px #fff,
        992px 1071px #fff, 841px 1718px #fff, 1262px 1338px #fff,
        1789px 1554px #fff, 1930px 1274px #fff, 438px 1086px #fff,
        1998px 97px #fff, 1877px 804px #fff, 265px 913px #fff, 1207px 845px #fff,
        1750px 1497px #fff, 142px 23px #fff;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 907px 140px #fff, 581px 499px #fff, 434px 564px #fff,
        1949px 936px #fff, 1324px 909px #fff, 1612px 207px #fff,
        672px 651px #fff, 1430px 1983px #fff, 1075px 1570px #fff,
        935px 677px #fff, 1949px 258px #fff, 151px 559px #fff,
        1011px 1412px #fff, 1903px 1134px #fff, 384px 1361px #fff,
        416px 1831px #fff, 156px 1078px #fff, 1540px 699px #fff,
        513px 1290px #fff, 1201px 1554px #fff, 941px 331px #fff,
        1890px 181px #fff, 1626px 339px #fff, 1413px 1653px #fff,
        1039px 561px #fff, 647px 949px #fff, 468px 673px #fff, 569px 75px #fff,
        1139px 1824px #fff, 1730px 1795px #fff, 1050px 1107px #fff,
        1469px 1151px #fff, 279px 726px #fff, 1825px 1496px #fff,
        401px 1674px #fff, 914px 1753px #fff, 98px 1326px #fff,
        1845px 182px #fff, 396px 1231px #fff, 290px 1422px #fff,
        615px 795px #fff, 1977px 1403px #fff, 269px 951px #fff,
        998px 1457px #fff, 778px 493px #fff, 1990px 1958px #fff,
        1609px 529px #fff, 1592px 1967px #fff, 617px 1325px #fff,
        1523px 1798px #fff, 1315px 337px #fff, 1036px 1026px #fff,
        626px 855px #fff, 96px 515px #fff, 85px 557px #fff, 98px 715px #fff,
        1138px 1210px #fff, 1717px 924px #fff, 1674px 277px #fff,
        124px 823px #fff, 656px 1511px #fff, 1649px 1385px #fff,
        1393px 1914px #fff, 1984px 1534px #fff, 616px 623px #fff,
        650px 304px #fff, 1601px 645px #fff, 1894px 1822px #fff, 506px 14px #fff,
        1341px 896px #fff, 1952px 1446px #fff, 378px 367px #fff,
        587px 298px #fff, 1283px 854px #fff, 1734px 1374px #fff,
        1690px 743px #fff, 221px 503px #fff, 783px 1484px #fff,
        794px 1511px #fff, 1447px 1635px #fff, 1629px 553px #fff,
        1333px 138px #fff, 1617px 1116px #fff, 1764px 1365px #fff,
        980px 1774px #fff, 769px 655px #fff, 1104px 940px #fff,
        1413px 1377px #fff, 1784px 1723px #fff, 906px 1087px #fff,
        17px 1261px #fff, 655px 262px #fff, 1110px 1160px #fff, 691px 830px #fff,
        1569px 1121px #fff, 1730px 228px #fff, 283px 1049px #fff,
        879px 1703px #fff, 694px 84px #fff, 621px 1095px #fff;
    animation: animStar 150s linear infinite;
}
#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 907px 140px #fff, 581px 499px #fff, 434px 564px #fff,
        1949px 936px #fff, 1324px 909px #fff, 1612px 207px #fff,
        672px 651px #fff, 1430px 1983px #fff, 1075px 1570px #fff,
        935px 677px #fff, 1949px 258px #fff, 151px 559px #fff,
        1011px 1412px #fff, 1903px 1134px #fff, 384px 1361px #fff,
        416px 1831px #fff, 156px 1078px #fff, 1540px 699px #fff,
        513px 1290px #fff, 1201px 1554px #fff, 941px 331px #fff,
        1890px 181px #fff, 1626px 339px #fff, 1413px 1653px #fff,
        1039px 561px #fff, 647px 949px #fff, 468px 673px #fff, 569px 75px #fff,
        1139px 1824px #fff, 1730px 1795px #fff, 1050px 1107px #fff,
        1469px 1151px #fff, 279px 726px #fff, 1825px 1496px #fff,
        401px 1674px #fff, 914px 1753px #fff, 98px 1326px #fff,
        1845px 182px #fff, 396px 1231px #fff, 290px 1422px #fff,
        615px 795px #fff, 1977px 1403px #fff, 269px 951px #fff,
        998px 1457px #fff, 778px 493px #fff, 1990px 1958px #fff,
        1609px 529px #fff, 1592px 1967px #fff, 617px 1325px #fff,
        1523px 1798px #fff, 1315px 337px #fff, 1036px 1026px #fff,
        626px 855px #fff, 96px 515px #fff, 85px 557px #fff, 98px 715px #fff,
        1138px 1210px #fff, 1717px 924px #fff, 1674px 277px #fff,
        124px 823px #fff, 656px 1511px #fff, 1649px 1385px #fff,
        1393px 1914px #fff, 1984px 1534px #fff, 616px 623px #fff,
        650px 304px #fff, 1601px 645px #fff, 1894px 1822px #fff, 506px 14px #fff,
        1341px 896px #fff, 1952px 1446px #fff, 378px 367px #fff,
        587px 298px #fff, 1283px 854px #fff, 1734px 1374px #fff,
        1690px 743px #fff, 221px 503px #fff, 783px 1484px #fff,
        794px 1511px #fff, 1447px 1635px #fff, 1629px 553px #fff,
        1333px 138px #fff, 1617px 1116px #fff, 1764px 1365px #fff,
        980px 1774px #fff, 769px 655px #fff, 1104px 940px #fff,
        1413px 1377px #fff, 1784px 1723px #fff, 906px 1087px #fff,
        17px 1261px #fff, 655px 262px #fff, 1110px 1160px #fff, 691px 830px #fff,
        1569px 1121px #fff, 1730px 228px #fff, 283px 1049px #fff,
        879px 1703px #fff, 694px 84px #fff, 621px 1095px #fff;
}

#title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}
#title span {
    background: -webkit-linear-gradient(white, #38495a);
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}
